@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
body {
  background: #302646;
}

.chronometre {
  position: relative;
  top: 200px;
  margin: auto;
  width: 960px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: white;
}

.chronometre .tim {
  margin: auto;
  width: 960px;
  border: 2px solid;
  border-radius: 10px;
  padding: 5px 0;
  text-align: center;
  font-size: 6.8em;
  margin-bottom: 10px;
}

.chronometre button {
  background: rgba(0, 0, 0, 0);
  color: white;
  width: 350px;
  border: 1px solid white;
  font-size: 4em;
  border-radius: 10px;
  line-height: 1.5em;
  margin: 20px;
}

.chronometre #reset {
  margin: 10px;
}

#plateforme {
  position: relative;
  top: 150px;
  color: white;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

#plateforme #surpc {
  font-size: 4em;
}

#LesTours {
  color: white;
  position: relative;
  top: 150px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

#LesTours #starteur {
  font-size: 20em;
}

#LesTours #exercice {
  font-size: 18em;
}
